* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body Background */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  background: linear-gradient(135deg, rgba(230, 57, 70, 0.8), rgba(244, 180, 180, 0.8));
}

/* Container */
.container {
  background: rgba(255, 255, 255, 0.15);  /* translucent white */
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 30px 30px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  text-align: center;
}

/* Header */
.container header {
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 2px 6px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  color: #fff; 
}

/* Form Group */
.form-group {
  width: 100%;
  margin-bottom: 15px; /* Reduced the space between form elements */
  text-align: left;
}

/* Labels */
label {
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}

/* Form Inputs */
input.form-control {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0; /* Reduced the margin between inputs */
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background: #fff;
  color: rgba(0, 0, 0, 1);
}

input::placeholder {
  color: #818080ff; /* Changed placeholder text color to white */
}

/* Buttons */
button.btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #e63946;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
button.btn:hover {
  background: #b71c1c;
  transform: translateY(-2px);
}
button.btn:active {
  transform: scale(0.98);
}

/* Links */
.links {
  margin-top: 10px;
  font-size: 14px;
}
.links a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
.links a:hover {
  text-decoration: underline;
}

/* Error Message */
.meassage {
  background: rgba(255, 0, 0, 0.2);
  color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}
